@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

html,
body,
div,
span,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.display-none {
  display: none;
}

/* High-level layout */
#main-container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 40px);
}

#main-display {
  padding: 25px 30px;
  width: 1000px;
  flex-shrink: 0;
  background-color: grey;
}

nav {
  flex: 0 0 300px;
  background-color: honeydew;
}

#menus {
  flex: 1;
  background-color: navajowhite;
}

footer {
  width: 100vw;
  height: 40px;
  background-color: lightpink;
}

/* Nav bar */

.home-item,
.project-item {
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.project-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.project-buttons {
  display: flex;
  gap: 8px;
  width: fit-content;
}

.project-item button {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

#rename-project-form {
  display: flex;
  flex-wrap: wrap;
}

#rename-project-form .menu-buttons {
  width: 100%;
}

/* Task list display */

.task-list {
  display: flex;
  flex-direction: column;
}

/* Task items */

.task-item {
  height: 65px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.task-item > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.left {
  flex: 1;
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 200px;
}

.details {
  display: flex;
  flex-direction: column;
}

.item-buttons {
  display: flex;
  gap: 10px;
}

.task-item button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

/* Menus/forms section */

#menus {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}

#menus form {
  display: flex;
  flex-direction: column;
}

#menus > div {
  border: 1px solid black;
}
