@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

:root {
  --primary-base: #a0c8ff;
  --primary-highlight: #5193e3;
  --primary-neutral: #d2e4ff;
  --text: #d7e2fa;

  --background-0: #2e3440;
  --background-1: #3b4253;
  --background-2: #434c5e;
  --background-3: #4c566a;

  --yellow: #ffdba6;
  --valid: #c5e9e9;
  --valid-bold: #006b6c;
  --invalid: #ffd7e1;
  --invalid-bold: #ab345a;
}

html,
body,
div,
span,
h1,
header,
main,
section,
nav,
h2,
p,
ul,
li,
a,
button,
form,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: var(--background-0);
}

/* High-level layout */
#main-container {
  flex: 1;
  display: flex;
  width: 100%;
  margin-top: 60px;
}

#main-display {
  flex: 1;
  min-width: 450px;
  margin: 0 80px;
}

nav {
  flex: 0 0 360px;
  z-index: 1;
}

nav,
/* #main-display, */
#menus {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nav::-webkit-scrollbar,
#main-display::-webkit-scrollbar,
#menus::-webkit-scrollbar {
  display: none;
}

footer {
  min-height: 40px;
}

#page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: var(--background-2);
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#logo {
  display: flex;
  height: 60px;
  justify-content: center;
  margin-top: 10px;
}

#page-header > img {
  content: url("./assets/logo.svg");
  height: 80%;
  width: auto;
}

/* General rules */

.display-none {
  display: none;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 10px 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-base);
  border-bottom: 2px solid var(--primary-base);
}

.section-header,
.project-left,
.details {
  overflow: hidden;
}

.section-header h1,
.project-left span,
.details h2,
.details p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Form inputs */

input,
textarea,
select {
  padding: 6px 12px;
  font-size: 1.1rem;
  font-family: inherit;
  color: var(--text);
  border-radius: 4px;
  background-color: initial;
  border: 1px solid var(--text);
}

input[type="text"],
textarea {
  width: 100%;
  flex-shrink: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid var(--primary-highlight);
  border: 1px solid var(--primary-highlight);
}

input::placeholder,
textarea::placeholder {
  color: #a0abc2;
}

input,
textarea {
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

.text-label {
  width: 60px;
  font-size: 1.1rem;
}

button,
.section-header,
.home-item,
.project-item {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* Buttons, icons & logo */

button {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
}

button:focus {
  outline: none;
}

.menu-buttons {
  width: 100%;
  display: flex;
  gap: 12px;
}

.menu-buttons button:disabled,
.menu-buttons button:disabled:hover,
.menu-buttons button:disabled:active {
  filter: brightness(1);
  background-color: #5a5e67;
  color: #a9abb5;
  transition: all 0.2s ease;
}

.section-header button {
  flex-shrink: 0;
  color: var(--primary-base);
  background-color: initial;
  border: 1px solid var(--primary-base);
  transition: all 0.2s ease;
}

.section-header button:hover {
  background-color: var(--primary-base);
  color: var(--background-2);
  transition: all 0.2s ease;
}

.section-header button:active,
.menu-buttons button:active {
  filter: brightness(0.7);
  transition: all 0.2s ease;
}

button.add-plus {
  background-image: url("./assets/icons/icn-plus0.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 6px center;
  padding-left: 32px;
}

button.add-plus:hover {
  background-image: url("./assets/icons/icn-plus1.svg");
}

button.submit {
  background-color: var(--valid);
  color: var(--valid-bold);
  transition: all 0.2s ease;
}

button.submit:hover {
  background-color: var(--valid-bold);
  color: var(--valid);
  transition: all 0.2s ease;
}

button.cancel,
button.cancel-modal {
  background-color: var(--invalid);
  color: var(--invalid-bold);
  transition: all 0.2s ease;
}

button.cancel:hover,
button.cancel-modal:hover {
  background-color: var(--invalid-bold);
  color: var(--invalid);
}

.nav-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-buttons {
  flex-shrink: 0;
  display: none;
}

.project-item:hover .project-buttons,
.display-wrapper.set-active .project-buttons {
  display: flex;
  gap: 4px;
  width: fit-content;
}

.project-item button {
  width: 30px;
  height: 30px;
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  transition: background-color 0.2s ease;
}

.project-item button:hover {
  background-color: var(--background-0);
  transition: background-color 0.2s ease;
}

.project-edit {
  background-image: url("./assets/icons/icn-edit1.svg");
}

.project-remove {
  background-image: url("./assets/icons/icn-trash0.svg");
}

.all-icon {
  background-image: url("./assets/icons/icn-list0.svg");
}

.inbox-icon {
  background-image: url("./assets/icons/icn-inbox0.svg");
}

.today-icon {
  background-image: url("./assets/icons/icn-today0.svg");
}

.week-icon {
  background-image: url("./assets/icons/icn-week0.svg");
}

.project-icon {
  flex-shrink: 0;
  background-image: url("./assets/icons/icn-book.svg");
}

.item-buttons {
  display: flex;
  gap: 5px;
}

.item-buttons button {
  border-radius: 4px;
  transition: all 0.2s ease;
}

.item-buttons button:hover {
  background-color: var(--background-2);
  transition: all 0.2s ease;
}

.item-buttons button:active {
  background-color: var(--background-3);
  transition: all 0.2s ease;
}

.task-item button {
  width: 30px;
  height: 30px;
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.task-item .item-check {
  flex-shrink: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  background-size: cover;
}

.item-edit {
  background-image: url("./assets/icons/icn-edit0.svg");
}

.item-remove {
  background-image: url("./assets/icons/icn-trash0.svg");
}

.item-check[data-completed="false"][data-priority="none"] {
  background-image: url("./assets/icons/icn-circle-none.svg");
}

.item-check[data-completed="false"][data-priority="low"] {
  background-image: url("./assets/icons/icn-circle-low.svg");
}

.item-check[data-completed="false"][data-priority="high"] {
  background-image: url("./assets/icons/icn-circle-high.svg");
}
.item-check[data-completed="true"][data-priority="none"] {
  background-image: url("./assets/icons/icn-check-none.svg");
}

.item-check[data-completed="true"][data-priority="low"] {
  background-image: url("./assets/icons/icn-check-low.svg");
}

.item-check[data-completed="true"][data-priority="high"] {
  background-image: url("./assets/icons/icn-check-high.svg");
}

/* Nav bar */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #373e4d;
  color: var(--text);
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.content > section {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.home-item,
.project-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 16px;
  height: 40px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

#project-list .display-wrapper {
  border-radius: 4px;
}

.home-item:hover,
.project-item:hover {
  background-color: var(--background-3);
  transition: background-color 0.2s ease;
}

.set-active {
  background-color: var(--background-3);
  transition: background-color 0.2s ease;
}

#home-nav {
  margin-top: 8px;
}

#project-nav {
  margin-top: 20px;
}

#project-header {
  margin-bottom: 10px;
}

#project-list,
#add-project-menu,
#rename-project-menu {
  margin-top: 10px;
}

#add-project-form,
#rename-project-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--primary-neutral);
  background-color: var(--background-3);
  padding: 16px;
  border-radius: 4px;
  gap: 10px;
}

#rename-project-form input {
  width: calc(100% - 30px - 10px - 2px);
}

.home-item,
.project-item {
  display: flex;
  gap: 12px;
  margin: 5px 0;
}

.project-left {
  flex: 1;
  gap: 12px;
  display: flex;
  align-items: center;
}

/* Task list display */

#top-header {
  padding-top: 30px;
  position: sticky;
  background-color: var(--background-0);
  top: 60px;
}

#top-header > h1 {
  max-width: calc(100% - 120px);
}

.task-list {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#main-display h2 {
  font-size: 1.2rem;
}

/* Task items */

.task-item {
  height: 65px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid var(--text);
  color: var(--text);
}

#completed-tasks .task-item {
  filter: opacity(0.6);
}

.task-item > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.left {
  flex: 1;
  max-width: calc(100% - 280px);
}

.right {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.details {
  display: flex;
  flex-direction: column;
}

/* Menus/forms section */

.menu-header {
  font-size: 1.2rem;
  margin: 10px 0;
  padding-bottom: 10px;
  font-weight: 600;
}

#backdrop {
  position: fixed;
  inset: 0;
  background-color: #000;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
}

#backdrop.visible {
  opacity: 0.3;
  pointer-events: all;
  transition: opacity 0.1s ease-in-out;
}

.menu-modal {
  position: fixed;
  width: 350px;
  top: 12%;
  right: -20%;
  padding: 0 20px;
  border: 1px solid var(--primary-neutral);
  border-radius: 4px;
  background: #373e4d;
  opacity: 0;
  transition: right 0.2s ease-in-out, opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.menu-modal.visible {
  opacity: 1;
  right: 40px;
  pointer-events: all;
}

.form-modal {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 60px auto;
  row-gap: 12px;
  column-gap: 10px;
  padding-bottom: 10px;
  color: var(--text);
}

.form-modal input {
  height: 42px;
}

.form-modal textarea {
  height: calc(42px * 3);
}

.form-modal input[name="name"] {
  grid-area: 1 / 1 / 2 / -1;
}

.form-modal textarea {
  grid-area: 2 / 1 / 3 / -1;
}

.form-modal select {
  max-width: 238px;
}

.text-label {
  grid-column: 1 / 2;
  font-weight: 600;
  align-self: center;
}

.menu-buttons {
  grid-area: 6 / 1 / span 1 / span 2;
}

#add-task-menu header {
  color: var(--invalid);
  border-bottom: 2px solid var(--invalid);
}

#edit-task-menu header {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
}

input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
}

.task-priority {
  height: 36px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.priority-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  outline: 1px solid #373e4d;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-color 0.2s ease;
  position: relative;
}

.priority-icon .tooltip {
  visibility: hidden;
  z-index: 1;
}

.priority-icon:hover {
  background-color: var(--background-0);
  transition: background-color 0.2s ease;
  outline: 1px solid var(--text);
}

.priority-icon:hover .tooltip {
  font-size: 1rem;
  position: absolute;
  visibility: visible;
  top: 120%;
  text-align: center;
  background-color: var(--background-0);
  border: 1px solid var(--text);
  padding: 6px 8px;
  border-radius: 4px;
  width: 60px;
  margin-left: -16px;
}

.priority-none {
  background-image: url("./assets/icons/icn-flag-none.svg");
}
.priority-low {
  background-image: url("./assets/icons/icn-flag-low.svg");
}
.priority-high {
  background-image: url("./assets/icons/icn-flag-high.svg");
}

input[type="radio"]:checked + div.priority-icon {
  background-color: var(--background-0);
  outline: 2px solid var(--primary-highlight);
  transition: background-color 0.2s ease;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-3);
  color: #ebeff5;
  font-size: 1rem;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: #8fbcbb;
}

/* Empty splash & illustrations */

.empty-splash {
  width: 300px;
  height: 300px;
  color: var(--primary-neutral);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

#illus-0 {
  background-image: url("./assets/illus-0.svg");
}
#illus-1 {
  background-image: url("./assets/illus-1.svg");
}
#illus-2 {
  background-image: url("./assets/illus-2.svg");
}
#illus-3 {
  background-image: url("./assets/illus-3.svg");
}
#illus-4 {
  background-image: url("./assets/illus-4.svg");
}

/* Media queries */

@media (max-width: 1135px) {
  .menu-modal {
    width: 300px;
  }

  .menu-modal > textarea {
    height: calc(42px * 2);
  }

  .menu-modal.visible {
    right: 20px;
  }

  .form-modal > select {
    max-width: 188px;
  }
}

@media (max-width: 920px) {
  #main-container {
    flex-direction: column;
  }

  #main-display {
    /* margin-top: 10px; */
  }

  /* #logo {
    position: sticky;
  } */
}
